<div class="row">
  <div class="donate-button-wrapper">
    <%= raw(Figaro.env.donate_code) %>
  </div>
  <div class="col-md-7 donate-text">
    Donate Bitcoin: 1NhonFuVMiCaM9RJj1DJBoYTiN6Qaf51KQ
  </div>
</div>
<br/>