<div class="row">
  <div class="col-sm-2">
    <img src="/img/bitcoin-qr.png" title="Donate Bitcoin to Phez: 1NhonFuVMiCaM9RJj1DJBoYTiN6Qaf51KQ" alt="Donate Bitcoin to Phez: 1NhonFuVMiCaM9RJj1DJBoYTiN6Qaf51KQ" height="100" width="100">
  </div>
  <div class="col-md-7">
    <p style="padding-top: 1.4em; margin-left: -1em">
      Please consider donating some Bitcoin to Phez:
      <br/><br/>
      1NhonFuVMiCaM9RJj1DJBoYTiN6Qaf51KQ
    </p>
  </div>
</div>
<br/>