<h2>Privacy Policy</h2>

<p>Instead of some long-winded block of legalese, here is Phez's privacy policy in plain english:</p>

<p>1. We will never rent, sell, share or disclose your private information to anyone, except as required by a law enforcement agency or by judicial ruling in the United States of America.</p>

<p>2. Deleted posts and comments are actually deleted from the database, although some information may remain in our server logs. You may review the source code to the Phez platform on GitHub at: <a href="https://github.com/phezco/phez">https://github.com/phezco/phez</a></p>

<p>3. Phez is still in its infancy. Some features are not available in the user interface yet (such as account deletion), however we will make a best effort to get this implemented quickly and to allow you to control your user data as you see fit.</p>

<p>4. If you disagree with anything in this policy or would like to see it changed, please post in <%= link_to '/p/PhezRequests', '/p/PhezRequests' %> and we will review your request.</p>

<p>Sincerely,</p>

<p>The Phez Team</p>