<% title('Thank you for your donation') %>

<h2>Thank You</h2>

<p>Thank you for your donation. We really appreciate it.</p>

<p>Your support will allow us to continue growing as an online community, dedicated to the principles of free-speech.</p>
