/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */

/* Admin Styles */
div.dashboard-panel {
  border-radius: 10px;
  width: 100%;
  color: #fff;
  height: 76px;
  padding: 20px 0;
  padding-left: 14px;
  font-size: 1.5em;
}
.blue {
  background-color: #0000cc;
}
.orangey {
  background-color: #E68A00;
}
.green {
  background-color: #009900;
}
.red {
  background-color: #B82500;
}
div.spaced-div {
  padding: 6px 0;
}
div.admin-heading-well {
  padding: 8px 10px;
}
/* /Admin Styles */

h2 a.post-link:visited {
  color: #4c1a80 !important;
}

div.subphez-heading-well {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

div.voting_arrows {
  margin-top: .5em;
  float: left;
  min-width: 30px;
  width: 30px;
  padding-left: 5px;
  margin-right: 5px;
}
span.vote_count {
  font-size: 1.3em;
  color: #b2b2b2;
  padding-left: 5px;
}
div.thumbnail {
  float: left;
  width: 90px;
  margin-right: 20px;
  display: block;
}
.vote-arrow {
  color: #b2b2b2;
  font-size: 1.5em !important;
}
.voted {
  color: #0066ff !important;
}
.post-title {
  max-width: 500px;
}
br.post-title-spacer {
  display: block;
  margin: 5px 0;
}
a.post-link {
  font-size: 1.6em;
}
.domain {
  color: #b2b2b2;
  font-size: .9em;
}
.domain a, .domain a:visited {
  color: #b2b2b2;
}
.submitted {
  color: #b2b2b2;
}
.comment-by {
  padding-bottom: .4em;
  color: #b2b2b2;
}
.comment-body {
  width: 30em;
  height: 7em;
}
.edit-comment-body {
  min-width: 150px;
  width: 50em;
  height: 10em;
}
.comment-edit-actions {
  padding: 10px 0;
}
.comment {
  padding-left: .1em;
  display: table-cell;
}
.comment-actions {
  padding-bottom: .6em;
}
.comment-actions a {
  color: #ccc;
}
.indented-comment {
  margin-left: 2em;
}
.deleted-comment {
  color: #ccc;
  margin-left: 1.5em;
}
span.comment-upvote-total {
  color: #0066ff;
}
span.comment-downvote-total {
  color: #8a2ee6;
}

div.comment_arrows {
  width: 4%;
  float: left;
  display: table-cell;
}
.title-field {
  width: 30em;
}
textarea.body-field {
  width: 30em;
  height: 15em;
}
.orange {
  color: #ff6600 !important;
}
div.well img {
  max-width: 98%;
}

div.karma {
  font-size: 1.1em;
}
span.link-karma {
  font-weight: bold;
  font-size: 1.3em;
}
span.comment-karma {
  font-weight: bold;
  font-size: 1.2em;
}
div.my-subscriptions-unsubscribe {
  padding-top: 30px;
  padding-left: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
div.donate-button-wrapper {
  margin-top: 0px;
  width: 120px;
  float: left;
  min-width: 100px;
}
div.donate-text {
  padding-top: 8px;
  margin-left: 0em;
}

table.leaderboard-table th {
  text-align: center;
}
table.leaderboard-table td {
  padding: 10px;
  text-align: left;
}
table.top-table th {
  text-align: center;
}
table.top-table td {
  padding: 4px;
}

.edit-account-field {
  width: 30em;
}
div.premium-plan {
  padding: 10px 10px;
}
.premium-amount {
  width: 200px !important;
}
.big-fa {
  font-size: 3em !important;
  color: green;
}
.padded-table td, .padded-table th {
  padding: 10px;
}
table.padded-table, table.padded-table th, table.padded-table td {
   border: 1px solid #ccc;
}

.transactions-table {
  width: 800px;
}
.transactions-table td, .transactions-table th {
  padding: 10px;
}
table.transactions-table, table.transactions-table th, table.transactions-table td {
   border: 1px solid #ccc;
}
a.reward-comment-premium {
  color: #fff !important;
}
div.rewarded-comment {
  background-color: #66ccff;
  border-radius: 10px;
  padding: 10px;
}

div.rewarded-comment .comment-actions a {
  color: #000 !important;
}
div.rewarded-comment .comment_arrows {
  padding-left: 10px;
}
div.rewarded-post {
  background-color: #B2E6FF;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
textarea.new-post-body-field {
  width: 70%;
  min-width: 200px;
  max-width: 800px;
  height: 12em;
}
table.api-table td, table.api-table th {
  padding: 10px;
}
table.api-table, table.api-table th, table.api-table td {
   border: 1px solid #ccc;
}
table.api-table {
  margin-bottom: 10px;
}
