/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
h2 a.post-link:visited {
  color: #4c1a80 !important;
}

div.subphez-heading-well {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

div.voting_arrows {
  margin-top: .5em;
  width: 2%;
  float: left;
}
span.vote_count {
  font-size: 1.3em;
  color: #b2b2b2;
  text-align: center;
}
.vote-arrow {
  color: #b2b2b2;
  font-size: 1.5em !important;
}
.voted {
  color: #0066ff !important;
}
.submitted {
  color: #b2b2b2;
}
.comment-by {
  padding-bottom: .4em;
  color: #b2b2b2;
}
.comment-body {
  width: 30em;
  height: 7em;
}
.comment {
  padding-left: .1em;
  display: table-cell;
}
.comment-actions {
  padding-bottom: .6em;
}
.comment-actions a {
  color: #ccc;
}
.indented-comment {
  margin-left: 2em;
}
.deleted-comment {
  color: #ccc;
  margin-left: 1.5em;
}
span.comment-upvote-total {
  color: #0066ff;
}
span.comment-downvote-total {
  color: #8a2ee6;
}

div.comment_arrows {
  width: 4%;
  float: left;
  display: table-cell;
}

.orange {
  color: #ff6600 !important;
}