<div class="well subphez-heading-well">
  <ul class="list-inline">
    <li><h2><%= link_to 'Hot', build_subphez_path(@subphez) %></h2></li>
    <li>&nbsp;&nbsp;</li>
    <li><h2>New</h2></li>
  </ul>
</div>

<% @posts.each do |post| %>
  <% @post = post %>
  <%= render :partial => 'posts/heading' %>
<% end %>

<%= will_paginate @posts %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>